body {
}

@media (min-width: 800px) {

    .grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
    }

}

footer {
    margin-top: 5em;
}

.meta {
    border: 2px solid #ccbfb5;
    background: #fff;
    padding: 2px 8px;
    font-size: 12px;
    font-weight: 700;
}