@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
    font-family: "Inter";
}


@media (min-width: 800px) {

    .grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
    }

}

footer {
    margin-top: 5em;
}

