/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

.c-links a {
    border: none;
}

.color-thing {
    background: #fafafa;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transform: skew(20deg, -30deg);
}

/* Header */

.hero {
    text-align: center;
}

.hero img {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

img {
    max-width: 500px;
}

/* Navigation */

.l-nav {
    display: flex;
    justify-content: center;
    margin: 0;
}

.l-nav a {
    color: #000;
}

.l-nav li {
    margin: 0;
    padding: 10px;
}

@media (min-width: 960px) {
    body {
        display: grid;
        grid-template-columns: 300px 1fr;
        overflow: hidden;
    }
    .sidebar {
        background: #eee;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    /* Body */
    .l-main {
        overflow-y: scroll;
        height: 100vh;
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
    }
    .p-article {
        max-width: 700px;
        margin: 0 auto;
    }
}

.p-article header h1 {
    margin: 0;
}

.c-article__meta,
.c-time {
    font-size: 12px;
}

.p-article__body {
    margin: initial;
}