{{ define "main" }}

    {{ range .Pages.GroupByDate "2006" }}
        <h3>{{ .Key }}</h3>
        {{ range .Pages.GroupByDate "January" }}
            <h4>{{ .Key }}</h4>
            <ul>
                {{ range where .Pages "Type" "posts" }}
                    <li>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                    <div class="meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
                    </li>
                {{ end }}
            </ul>
        {{ end }}
    {{ end }}

{{ end }}