<aside class="sidebar">
    {{ partial "svgpack-sprite.html" . }}
    <header class="l-header">
        {{ if .IsPage }}
            <p class="c-title p-title"><a href="{{ .Site.BaseURL }}" class="p-title__link">{{ .Site.Title }}</a></p>
        {{ else }}
            <h1 class="c-title p-title"><a href="{{ .Site.BaseURL }}" class="p-title__link">{{ .Site.Title }}</a></h1>
        {{ end }}
        {{ with .Site.Params.subtitle }}
            <p class="p-subtitle">
                {{ . }}
            </p>
        {{ end }}
        {{ partial "menu.html" . }}

    </header>

    <section class="full-width sidebar-image">
        <img src="/images/jimly.png" alt="jimly" width="400" height="auto">
    </section>

    <footer class="l-footer">

        {{ partial "link.html" . }}

        <p class="p-copyright" style="color: #fff;">
            Guy Lyons {{ with .Site.Copyright | safeHTML }}
                {{ . }}
            {{ else }}
                {{ .Site.LastChange.Format "2006" }}
            {{ end }}
            | <a href="{{ .Site.RSSLink }}">RSS</a>
        </p>
    </footer>

    {{- partial "footer_custom.html" . }}
</aside>