{{ define "main" }}
<main aria-role="main">
    <header class="homepage-header">
	<h1>{{.Title}}</h1>
	{{ with .Params.subtitle }}
	<span class="subtitle">{{.}}</span>
	{{ end }}
    </header>
    <div class="homepage-content">
	{{.Content}}
    </div>
    <div>
	<h2>Things &amp; Thoughts</h2>
	{{ range first 3 .Pages }}
	   <article>
	       <h3>{{ .Title }}</h3>
	       <span class="meta">{{ .Date.Format "Monday, January 2, 2006" }}</span>
	       {{ .Content }}
	   </article>
	{{ end }}
    </div>
</main>
{{ end }}
